FOMO_API_KEY=
VIVI_STREAM_MODE=alerts
VIVI_STATE_DIR=state/vivi_biyuyo
VIVI_PORT=8080
VIVI_LEADERBOARD_LIMIT=100
VIVI_WALLET_REFRESH_SECONDS=1800
VIVI_CLUSTER_WINDOW_SECONDS=120
VIVI_MIN_CLUSTER_TRADERS=2
VIVI_MIN_ALERT_USD=250
VIVI_SIGNAL_THRESHOLD=0.70
VIVI_MAX_TOP10_PERCENT=40
VIVI_MIN_HOLDERS=100
VIVI_MIN_BUY_SELL_RATIO=1.20
